openapi: 3.0.3
info:
  title: The One Api Client
  description: >-
    This is a sample client for the the-one-api service.
    
    This client implements endpoints related to movie and quotes.
  version: 1.0.0
servers:
  - url: https://the-one-api.dev/v2/
security:
  - bearerAuth: []
paths:
  /movie:
    get:
      tags: [TheOneApi]
      summary: Retrieve all movies
      description: Retrieves all movies in the database.
      operationId: retrieveMovies
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Movies'
  /movie/{id}:
    get:
      tags: [TheOneApi]
      summary: Retrieve a movie by a specific ID
      description: Retrieves a specific movie by ID or returns an empty response.
      operationId: retrieveMovie
      parameters:
        - name: id
          in: path
          description: Movie ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Movie'
  /movie/{id}/quote:
    get:
      tags: [TheOneApi]
      summary: Retrieve a specific movies quotes.
      description: Retrieve a sepcific movie's quotes or return an empty response.
      operationId: retrieveMovieQuotes
      parameters:
        - name: id
          in: path
          description: Movie ID
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Quotes'
  /quote:
    get:
      tags: [TheOneApi]
      summary: Retrieve all movie quotes
      description: Retrieves a list of all movie quotes
      operationId: retrieveQuotes
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
        - name: page
          in: query
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Quotes'
  /quote/{id}:
    get:
      tags: [TheOneApi]
      summary: Retrieve a specific movie quote
      description: Retrieves a specific quote by ID or returns an empty response.
      operationId: retrieveQuote
      parameters:
        - name: id
          in: path
          description: Quote ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Quote'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  schemas:
    Paged:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        page:
          type: integer
        pages:
          type: integer
    Movies:
      allOf:
        - $ref: '#/components/schemas/Paged'
        - type: object
          properties:
            docs:
              type: array
              items:
                $ref: '#/components/schemas/Movie'
    Movie:
      allOf:
        - $ref: '#/components/schemas/Paged'
        - type: object
          properties:
            id:
              type: string
            name:
              type: string
            runtimeInMinutes:
              type: integer
              format: int32
              example: 120
            boxOfficeRevenueInMillions:
              type: integer
              format: int32
            academyAwardNominations:
              type: integer
              format: int32
            academyAwardWins:
              type: integer
              format: int32
            rottenTomatoesScore:
              type: number
    Quotes:
      allOf:
        - $ref: '#/components/schemas/Paged'
        - type: object
          properties:
            docs:
              type: array
              items:
                $ref: '#/components/schemas/Quote'
    Quote:
      allOf:
        - $ref: '#/components/schemas/Paged'
        - type: object
          properties:
            _id:
              type: string
            dialog:
              type: string
            movie:
              type: string
            character:
              type: string
            id:
              type: string